.historyTable {
    width: 100%;
    text-align: center;
    color: #EBEBEB;
    background-color: #abb595;
    border-radius: 12px;
}

.historyTableCell {
    height: 30px;
    vertical-align: center;
    color: white;

    border-style: solid;
    text-align: center;
}

.DeleteEditButton
{
    border-radius: 12px;
    border:none;
}