@page "/"
<div style="padding-top: 10%;">
    <div class="Balance">
        <label>Balance</label>
    </div>
    <div class ="Suma">
        <label>Suma</label>
    </div>
  

    <table class="Table">
        <tr>
            <td>
                Income
            </td>
            <td>
                Spend
            </td>
        </tr>
        <tr>
            <td>
                Vystavysh
            </td>
            <td>
                Vystavysh2
            </td>
        </tr>
    </table>

    <div class="Div2">
        <table class="Table2">
            <tr>
                <td style="width: 70%;">Type</td>
                <td>Suma</td>
            </tr>
        </table>
    </div>

    <button class="ButtonFilter">Filter</button>
</div>